h1{
    text-align: center;
    color:blue;
}
p{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}
ul{
    
    padding: 0;
    background-color:black;
    margin-left: 450px;
   
}
li{
    margin: 0;
float: left;
list-style-type: none;
text-align: center;

}
li a {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}
.verticalmenu{
background-color: blue;
color: white;
margin: 0;
padding: 12px;
}
.verticalmenu a{
    color: white;
    padding: 12px;
    text-decoration: none;
}